bak/Proyecto2/ClienteEchoWS/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://servidor.ws" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servidor.ws">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://servidor.ws">
            <xs:element name="leerRegistro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="obj" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="leerRegistroResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="despedir">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="despedirResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="despedirRequest">
        <wsdl:part name="parameters" element="ns:despedir"/>
    </wsdl:message>
    <wsdl:message name="despedirResponse">
        <wsdl:part name="parameters" element="ns:despedirResponse"/>
    </wsdl:message>
    <wsdl:message name="leerRegistroRequest">
        <wsdl:part name="parameters" element="ns:leerRegistro"/>
    </wsdl:message>
    <wsdl:message name="leerRegistroResponse">
        <wsdl:part name="parameters" element="ns:leerRegistroResponse"/>
    </wsdl:message>
    <wsdl:portType name="EchoServicePortType">
        <wsdl:operation name="despedir">
            <wsdl:input message="ns:despedirRequest" wsaw:Action="urn:despedir"/>
            <wsdl:output message="ns:despedirResponse" wsaw:Action="urn:despedirResponse"/>
        </wsdl:operation>
        <wsdl:operation name="leerRegistro">
            <wsdl:input message="ns:leerRegistroRequest" wsaw:Action="urn:leerRegistro"/>
            <wsdl:output message="ns:leerRegistroResponse" wsaw:Action="urn:leerRegistroResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoServiceSoap11Binding" type="ns:EchoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="despedir">
            <soap:operation soapAction="urn:despedir" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="leerRegistro">
            <soap:operation soapAction="urn:leerRegistro" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EchoServiceSoap12Binding" type="ns:EchoServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="despedir">
            <soap12:operation soapAction="urn:despedir" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="leerRegistro">
            <soap12:operation soapAction="urn:leerRegistro" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EchoServiceHttpBinding" type="ns:EchoServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="despedir">
            <http:operation location="EchoService/despedir"/>
            <wsdl:input>
                <mime:content type="text/xml" part="despedir"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="despedir"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="leerRegistro">
            <http:operation location="EchoService/leerRegistro"/>
            <wsdl:input>
                <mime:content type="text/xml" part="leerRegistro"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="leerRegistro"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoService">
        <wsdl:port name="EchoServiceHttpSoap11Endpoint" binding="ns:EchoServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/EchoService.EchoServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EchoServiceHttpSoap12Endpoint" binding="ns:EchoServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/EchoService.EchoServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EchoServiceHttpEndpoint" binding="ns:EchoServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/EchoService.EchoServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>