test/java/Prueba Servicio Web con seguridad/Cliente/Servicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://servidor.ws.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://base_de_datos/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servidor.ws.com">
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="SecConvPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:RequireDerivedKeys/>
                                        <sp:BootstrapPolicy>
                                            <wsp:Policy>
                                                <sp:EncryptedParts>
                                                    <sp:Body/>
                                                </sp:EncryptedParts>
                                                <sp:SymmetricBinding>
                                                    <wsp:Policy>
                                                        <sp:ProtectionToken>
                                                            <wsp:Policy>
                                                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                                                    <wsp:Policy>
                                                                        <sp:RequireThumbprintReference/>
                                                                        <sp:WssX509V3Token10/>
                                                                        <sp:RequireDerivedKeys/>
                                                                    </wsp:Policy>
                                                                </sp:X509Token>
                                                            </wsp:Policy>
                                                        </sp:ProtectionToken>
                                                        <sp:AlgorithmSuite>
                                                            <wsp:Policy>
                                                                <sp:Basic128Rsa15/>
                                                            </wsp:Policy>
                                                        </sp:AlgorithmSuite>
                                                        <sp:Layout>
                                                            <wsp:Policy>
                                                                <sp:Strict/>
                                                            </wsp:Policy>
                                                        </sp:Layout>
                                                        <sp:IncludeTimestamp/>
                                                        <sp:EncryptSignature/>
                                                        <sp:OnlySignEntireHeadersAndBody/>
                                                    </wsp:Policy>
                                                </sp:SymmetricBinding>
                                                <sp:EndorsingSupportingTokens>
                                                    <wsp:Policy>
                                                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                                            <wsp:Policy>
                                                                <sp:RequireThumbprintReference/>
                                                                <sp:WssX509V3Token10/>
                                                            </wsp:Policy>
                                                        </sp:X509Token>
                                                    </wsp:Policy>
                                                </sp:EndorsingSupportingTokens>
                                                <sp:Wss11>
                                                    <sp:Policy>
                                                        <sp:MustSupportRefKeyIdentifier/>
                                                        <sp:MustSupportRefIssuerSerial/>
                                                        <sp:MustSupportRefThumbprint/>
                                                        <sp:RequireSignatureConfirmation/>
                                                    </sp:Policy>
                                                </sp:Wss11>
                                                <sp:Trust10>
                                                    <wsp:Policy>
                                                        <sp:RequireClientEntropy/>
                                                        <sp:RequireServerEntropy/>
                                                        <sp:MustSupportIssuedTokens/>
                                                    </wsp:Policy>
                                                </sp:Trust10>
                                            </wsp:Policy>
                                        </sp:BootstrapPolicy>
                                    </wsp:Policy>
                                </sp:SecureConversationToken>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:EncryptSignature/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Policy>
                        <sp:MustSupportRefKeyIdentifier/>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                    </sp:Policy>
                </sp:Wss11>
                <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                        <sp:MustSupportIssuedTokens/>
                    </wsp:Policy>
                </sp:Trust10>
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base_de_datos/xsd">
            <xs:complexType name="RegistroS">
                <xs:sequence>
                    <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="persona" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://base_de_datos/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://servidor.ws.com">
            <xs:import namespace="http://base_de_datos/xsd"/>
            <xs:element name="infoRegistro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="infoRegistroResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:RegistroS"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="info">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="r" nillable="true" type="ax24:RegistroS"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="infoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="infoRegistroRequest">
        <wsdl:part name="parameters" element="ns:infoRegistro"/>
    </wsdl:message>
    <wsdl:message name="infoRegistroResponse">
        <wsdl:part name="parameters" element="ns:infoRegistroResponse"/>
    </wsdl:message>
    <wsdl:message name="infoRequest">
        <wsdl:part name="parameters" element="ns:info"/>
    </wsdl:message>
    <wsdl:message name="infoResponse">
        <wsdl:part name="parameters" element="ns:infoResponse"/>
    </wsdl:message>
    <wsdl:portType xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="ServicioPortType" wsp:PolicyURIs="#SecConvPolicy">
        <wsdl:operation name="infoRegistro">
            <wsdl:input message="ns:infoRegistroRequest" wsaw:Action="urn:infoRegistro"/>
            <wsdl:output message="ns:infoRegistroResponse" wsaw:Action="urn:infoRegistroResponse"/>
        </wsdl:operation>
        <wsdl:operation name="info">
            <wsdl:input message="ns:infoRequest" wsaw:Action="urn:info"/>
            <wsdl:output message="ns:infoResponse" wsaw:Action="urn:infoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicioSoap11Binding" type="ns:ServicioPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="infoRegistro">
            <soap:operation soapAction="urn:infoRegistro" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="info">
            <soap:operation soapAction="urn:info" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicioSoap12Binding" type="ns:ServicioPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="infoRegistro">
            <soap12:operation soapAction="urn:infoRegistro" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="info">
            <soap12:operation soapAction="urn:info" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicioHttpBinding" type="ns:ServicioPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="infoRegistro">
            <http:operation location="Servicio/infoRegistro"/>
            <wsdl:input>
                <mime:content type="text/xml" part="infoRegistro"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="infoRegistro"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="info">
            <http:operation location="Servicio/info"/>
            <wsdl:input>
                <mime:content type="text/xml" part="info"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="info"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Servicio">
        <wsdl:port name="ServicioHttpsSoap11Endpoint" binding="ns:ServicioSoap11Binding">
            <soap:address location="https://localhost:8443/axis2/services/Servicio.ServicioHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServicioHttpSoap11Endpoint" binding="ns:ServicioSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Servicio.ServicioHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServicioHttpsSoap12Endpoint" binding="ns:ServicioSoap12Binding">
            <soap12:address location="https://localhost:8443/axis2/services/Servicio.ServicioHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServicioHttpSoap12Endpoint" binding="ns:ServicioSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Servicio.ServicioHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServicioHttpsEndpoint" binding="ns:ServicioHttpBinding">
            <http:address location="https://localhost:8443/axis2/services/Servicio.ServicioHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServicioHttpEndpoint" binding="ns:ServicioHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Servicio.ServicioHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
